#forms
  != partial('form', {user: user, action: '/users/' + user._id + '/'})

#lists
  h2 User Posts
  -if (posts)
    ul.list
      -each post in posts
        li
          a(href: '/posts/' + post._id + '/')= post.title
