-var post = post || {};
-var action = action || '/posts/';

form#create_post(method: 'POST', action: action)
  fieldset
    .field
      label(for: 'post_title) Post title
      input(id: 'post_title', name: 'post[title]', value: post.title)

    .field
      label(for: 'post_body') Post body
      textarea(id: 'post_body', name: 'post[body]')= post.body || ''

    .operations
      input(type: 'button', value: 'submit', class: 'button')
