#forms
  != partial('form', {post: post, action: '/posts/' + post._id + '/'})
  != partial('comment_form', {post: post})

#lists
  h2 Author
  -if (post.author)
    a(href: '/users/' + post.author._id + '/')= post.author.name

  h2 Comments
  -if (post.comments)
    ul.list
      -each comment in post.comments
        li= comment.body
