!!!
html
  head
    title= title || ''
    link(rel: 'stylesheet', href: '/css/reset.css' )
    link(rel: 'stylesheet', href: '/css/global.css' )

    -var css
    -if(css)
      -each file in css
        link(rel: 'stylesheet', href: '/css/' + file + '.css' )
  body
    #wrapper
      #sticky
        nav
          h1
            a(href: '/') Mongolia blog example
        .clearer

        #content
          != body
